.trx-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

.trx-colored-username {
  background-color: var(--background-color);
  border-radius: 3px;
  color: var(--text-color);
  padding: 2px 3px;
}