.miscellaneous-features-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;

  li {
    --border-color: var(--red);

    background-color: var(--background-primary);
    border: 1px solid var(--border-color);

    &.enabled {
      --border-color: var(--green);
    }

    .styled-checkbox {
      border: none;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .description {
    margin: 8px;
  }
}
